<div id="<%= dom_id tweet %>">
  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to tweet.user.to_s, user_path(tweet.user) %>
  </p>

</div>
